.tp-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 30px;
    row-gap: 60px;
    padding: 15px 0 15px 15px !important;
}

.tp-grid-item {
    position: relative;
    text-align: center;
}

.tp-grid-item a {
    text-decoration: none !important;
}

.tp-counter {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    background: #38BDB7;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 24px;
    z-index: 1;
}

.tp-podcast-image {
    box-shadow: 0px 2px 8px rgba(157, 157, 157, 0.25);
    border-radius: 6px;
    transition: box-shadow 0.3s ease-in-out;

}

.tp-podcast-image:hover {
    box-shadow: 0px 4px 12px rgba(157, 157, 157, 0.5);
}

.tp-podcast-title {
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #38BDB7;
}

.tp-podcast-publisher {
    color: #777;
    font-size: 14px;
}